<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %><br><br>

<h2>Project Name<%= @project.name %></h2><br>
<p>description: <%= @project.description %></p>
<p>Section: <%= @sections.find_by("#{project.section_id}").name%> </p>

<a href="/projects/<%= @project.id %>/edit">Edit Project</a>
<form class="" action="/projects/<%= @project.id %>/delete" method="post">
  <input id = "hidden" type="hidden" name="_method" value="delete">
  <input type="submit" name="" value="Delete Project">
</form>
<br>
<br>
<a href="/projects"> All Projects</a>
<a href="/users/<%= @project.user.slug %>"> My Projects</a>
